.CardPoster{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background-color: var(--corClaro);
    border-radius: 10px;
    padding: 10px;
    transition: all .3s;
    user-select: none;
}

.CardPoster:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.CardPoster img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    opacity: 80%;
    min-height: 225px;
    min-width: 150px;
}

.CardPoster:hover img{
    opacity: 100%;
}

.CardPosterH3{
    width: 100%;
    text-align: left;
    font-size: .85em;
    margin: 0;
    margin-inline: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%;
}


.CardPosterH4{
    width: 100%;
    margin-left: 5px;
    text-align: left;
    font-size: 0.6em;
    margin-bottom: 5px;
    opacity: 70%;
}

.CardPosterStars{
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    margin-bottom: 5px;
}

.CardPosterStars svg{
    font-size: 12px;
    fill: goldenrod;
    margin-right: 3px;
    opacity: 70%;
}

.CardPosterSeasonInfos{
    display: flex;
    justify-content: flex-start;
    margin-inline: 5px;
    margin-block: 5px;
    align-items: center;
}

.CardPosterSeasonInfos svg{
    font-size: 14px;
    fill: var(--corTexto);
    opacity: 0.5;
    margin-right: 3px;
    opacity: 70%;
}

.CardPosterSeasonInfos span{
    font-weight: bold;
    font-size: 0.8em;
    opacity: 70%;
    margin-left: 5px;
}

@media (max-width: 700px) {
    .CardPoster{
        min-width: 170px;
        margin-inline: 10px;
    }
}