.DivContentActions{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 90%;
}

.Eye, .Ellipsis, .notificationIcon{
  font-size: 1.5em;
  background-color: var(--corClaro);
  padding: 7px;
  border-radius: 100%;
  margin-inline: 5px;
  transition: all .3s;
}

.Ellipsis:hover, .Eye:hover, .notificationIcon:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.Eye:hover, .notificationIcon:hover, .Ellipsis:hover{
  fill: var(--corVerde);
}

.MarkAsSeen{
  font-size: .8em;
  margin-right: 10px;
  user-select: none;
}

.MarkAsSeen:hover{
  cursor: pointer;
}

.DivTrailer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-right: auto;
  background-color: var(--corClaro);
  border-radius: 10px;
  padding: 5px;
  padding-inline: 10px;
  cursor: pointer;
}

.DivTrailer:hover .IconVideo{
  transform: scale(1.1);
  fill: red;
  opacity: .75;
  transition: all .3s;
}

.IconVideo{
  font-size: 1.5em;
}

.DivTrailer h2{
  font-size: .8em;
  margin-left: 10px;
  margin-block: auto;
}

.divOptionsNotification{
  background-color: var(--corModal);
  position: absolute;
  display: none;
  flex-direction: column;
  margin-top: 180px;
  border-radius: 10px;
  margin-right: 50px;
  padding-block: 5px;
  justify-content: start;
  align-items: start;
  padding-inline: 10px;
  padding-right: 20px;
}

.divOptionsNotification p{
  margin-left: 5px;
  padding-block: 5px;
  font-size: .85em;
  font-weight: bold;
}

.optionNotification{
  background-color: var(--corClaro);
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 5px;
  margin-block: 5px;
  width: 100%;
  cursor: pointer;
}

.optionNotification svg{
  font-size: 1.3em;
  margin-inline: 10px;
}

.optionNotification h2{
  font-size: .8em;
  margin-right: 5px;
}

@media screen and (max-width: 500px){
  .MarkAsSeen{
    display: none;
  }
}