.divEp{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-top: 0px;
}

.divPreview{
  width: 50%;
  height: auto;
  overflow: hidden;
  margin-left: 10px;
}

.divPreview img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.divDetails{
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-inline: 20px;
  justify-content: left;
  align-items: start;
  width: 50%;
}

.EpName{
  font-size: 1.45em;
  font-weight: bold;
}

.overview{
  font-size: .9em;
  margin-top: 5px;
  padding: 0;
  text-align: left;
  margin-right: 15px;
  width: 95%;
  font-weight: bold;
  opacity: .5;
}

.divInfos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.divInfos span{
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.divInfos span svg{
  font-size: 1.2em;
  margin-right: 10px;
  opacity: .5;
}

.divInfos span{
  color: white;
  font-weight: bold;
  font-size: .85em;
}
.divInfos div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.persons{
  width: 97%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-inline: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--corFundo) var(--corFundoClaro);
}

.persons::-webkit-scrollbar {
  width: 8px;
  margin-bottom: 10px;
}

.persons::-webkit-scrollbar-track {
  background-color: var(--corFundoClaro);
}

.persons::-webkit-scrollbar-thumb {
  background-color: var(--corFundo);
  border-radius: 4px;
}

.persons::-webkit-scrollbar-thumb:hover {
  background-color: var(--corFundoEscuro);
}

.markAsSeen{
  cursor: pointer;
  background-color: var(--corFundo);
  padding: 5px;
  border-radius: 15px;
  padding-inline: 15px;
  font-size: 1em;
}

@media screen and (max-width: 1200px) {
  .divEp{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .divPreview{
    width: 100%;
    margin-left: 0px;
    margin: 0;
    padding: 0;
  }

  .divDetails{
    width: 100%;
  } 
}

@media screen and (max-width: 500px){
  .divInfos{
    flex-direction: column;
    width: 100%;
  }

  .divInfos div{
    width: 100%;
    margin-top: 10px;
  }

  .divInfos span{
    margin-inline: auto;
  }
}