.DivProfileInfos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-top: 100px;
}

.IconProfile{
  font-size: 5em;
}

.MainDivProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-left: 20px;
  font-size: .8em;
}

.InfosDiv{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-size: 1em;
  font-weight: 600;
}

.InfosDiv span{
  font-size: 1.3em;
  opacity: 1;
}

.InfosDiv p{
  margin-right: 10px;
}

.DivLogout, .DivEdit{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.DivLogout svg, .DivEdit svg{
  transition: all .3s;
}

.DivLogout:hover svg, .DivEdit:hover svg{
  fill: var(--corVerde);
}

.DivLogout span, .DivEdit span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.DivLogout span p, .DivEdit span p{
  font-size: .8em;
  font-weight: bolder;
  text-align: center;
  margin-left: 5px;
  margin-right: 15px;
}

.IconLogout, .IconEdit{
  font-size: 1.2em;
}