footer{
    width: 100%;
    background-color: var(--corClaro);
    display: flex;
    padding-block: 40px;
    align-items: center;
    margin-top: 50px;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer img{
    margin-left: 80px;
    height: 40px;
    margin-right: 20px;
}

footer h2{
    font-size: 0.935em;
    text-align: left;
    margin-bottom: 2.5px;
}

footer p{
    font-size: 0.65em;
    text-align: left;
    opacity: 50%;
}

footer span{
    background-color: white;
    width: 2px;
    opacity: 30%;
    margin-left: 30px;
    margin-right: 15px;
    height: 40px;
}

footer h3{
    font-size: 0.85em;
    text-align: left;
    opacity: 70%;
    margin-block: 3px;
    transition: all 0.3s;
}

footer h3:hover{
    cursor: pointer;
    opacity: 100%;
}

.DivTemas{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: 80px;
}

.TitleTemas{
    margin-block: auto;
    margin-left: 10px;
    cursor: pointer;
}

.DivIconTema{
    border-radius: 10px;
    background-color: var(--corFundo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.ThemeList{
    position: fixed;
    width: 150px;
    background-color: var(--corClaro);
    border: 2px solid var(--corFundo);
    bottom: 12%;
    display: none;
}

.Theme{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--corFundo);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.Theme p{
    font-weight: bold;
    color: white;
    opacity: 1;
    width: 65%;
    margin-left: 10px;
}

.ThemePreview{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--corClaro);
}

.Theme svg{
    margin-inline: auto;
}

@media (max-width: 700px) {
    footer {
        flex-direction: column;
        padding-block: 20px;
    }

    footer div {
        align-items: center;
        margin-top: 20px;
    }

    footer img {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    footer span {
        display: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    footer h2 {
        text-align: center;
    }

    footer p {
        text-align: center;
    }

    footer h3 {
        text-align: center;
        margin-block: 10px;
    }

    .DivTemas{
        margin: 0;
        justify-content: center;
        align-content: center;
        margin-top: 15px;
    }

    .DivIconTema{
        margin: 0;
    }

    .TitleTemas{
        margin: 0;
        margin-left: 10px;
    }

    .Theme{
        width: 90%;
    }
}