.DivLoading{
  height: calc(100vh - 174px);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LogoLoading{
  height: 150px;
  animation: logoAnimation infinite;
  margin-bottom: 50px;
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.LogoLoading {
  animation: logoAnimation 2s infinite;
}

.DivLoading h1{
  font-size: 1.5em;
  margin-top: 30px;
}

.DivLoading p{
  font-size: 1em;
  margin-top: 10px;
  opacity: 0;
}

.DivLoading a{
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}