.divLogin{
    background-color: var(--corClaro);
    border-radius: 10px;
    margin-block: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 50px;
    padding-block: 50px;
    text-align: left;
    min-width: 350px;
    max-width: 500px;
}

.divLogin img{
    height: 50px;
    margin-right: auto;
}

.divLogin h1{
    font-size: 1.3rem;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.divLogin p{
    font-size: .8rem;
    width: 100%;
    margin-bottom: 30px;
    color: var(--corCinza);
    font-weight: bold;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.divLogin input{
    width: calc(100% - 40px);
    font-size: .9em;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border: #565c66 2px solid;
    padding-block: 15px;
    outline: none;
    margin-bottom: 15px;
    padding-inline: 20px;
    margin-inline: 20px;
    transition: all .3s;
}

.divLogin input:hover{
    border: white 2px solid;
}

input:focus{
    border: white 2px solid;
}

.divLogin input::text{
    color: white;
    font-weight: bold;
    margin-inline: 20px;
}

.divLogin span{
    color: var(--corVerde);
    transition: all .3s;
}

.divLogin span:hover{
    cursor: pointer;
    color: white;
}

.divLogin button{
    background-color: var(--corVerde);
    border-radius: 10px;
    width: 100%;
    padding-block: 15px;
    font-size: 1em;
    color: white;
    font-weight: bolder;
    outline: none;
    border: none;
    transition: all .3s;
    margin-block: 20px;
}

.divLogin button:hover, .divLogin button:focus{
    cursor: pointer;
    background-color: white;
    color: var(--corVerde);
}

.ajudaLogin{
    color: white;
    font-size: 0.8em;
    text-align: left;
    width: 100%;
    margin-top: 15px;
    transition: all .3s;
}

.ajudaLogin:hover{
    cursor: pointer;
    color: var(--corVerde);
}

.LabelError{
    color: rgb(197, 26, 26);
    font-size: 0.75em;
    width: 100%;
    text-align: left;
}

@media (max-width: 700px) {
    nav{
        position: inherit;
        display: none;
    }
    .divLogin{
        background-color: transparent;
        min-width: auto;
        width: 90vw;
        padding: 0px;
    }
}