@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  font-family: montserrat, sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: var(--corTexto);
  transition: all .5s;
}

:root{
  --corFundo: #111629;
  --corClaro: #1e243a;
  --corCinza: #686e7a;
  --corVerde: #0bd460;
  --corTexto: white;
}

[data-theme="default"]{
  --corFundo: #111629;
  --corClaro: #1e243a;
}

[data-theme="soft"]{
  --corFundo: #1d2133;
  --corClaro: #25293d;
}

[data-theme="carmesin"]{
  --corFundo: #1f0c19;
  --corClaro: #2a1825;
}

[data-theme="blue"]{
  --corFundo: #1e2529;
  --corClaro: #171d20;
  --corTexto: #bde6fb;
}

[data-theme="rose"]{
  --corFundo: #232136;
  --corClaro: #393552;
  --corTexto: #e0def4;
}

Link{
  text-decoration: none;
  border: none;
}

body, #root, .App{
  background-color: var(--corFundo);
  margin: 0;
  padding: 0;
  background-color: var(--corFundo);
  color: var(--corTexto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 7px; 
  background-color: var(--corFundo);
  border-radius: 20px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--corClaro);
  border-radius: 20px;
  margin: 5px;
}